/* Small devices (portrait phones, 0–599px) */
@media (max-width: 599px) {
  /* styles for small phones */

   #About 
   {
    display: none;
   }

}





/* Medium devices (landscape phones & small tablets, 600–899px) */
@media (min-width: 600px) and (max-width: 899px) {
  /* styles for tablets or large phones */
  #About 
   {
    display: none;
   }
}

/* Large devices (tablets & small laptops, 900–1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  /* styles for tablets/laptops */
  #About 
   {
    display: none;
   }
}

/* Extra large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* styles for large screens/desktops */

  #About 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }

  .about-heading 
  {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
   .about-heading h1 
   {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 5px 10px 15px white;
    color: aliceblue;

   }


  .about-container
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    gap: 0px;
    flex-flow: row;
    margin: 100px;
    background-color: white;
    /* Fade Up Effect  */
     opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
  
    
   }

   .about-container.show {
  opacity: 1;
  transform: translateY(0);
}
/* End of Fade up */


    .about-container img
    {
        width: 100%;
        vertical-align: middle;
        max-width: 100%;
        height: 100%;
    
    }

   .about-content
   {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 5px;
    background-color: black;
    margin: 0;
    padding: 0;
   }

   

   .about-text 
   {
    padding: 30px;
   }

   .about-text h1 
   {
    font-size: 39px;
   }
    .about-text p 
   {
    font-size: 16px;
    padding: 20px 0;

   }
   /* button call us */

   .cta-call-us 
   {
    width: 100%;
    padding: 30px 0px;
   }
   #call-us 
   {
    padding: 20px 50px;
    font-size: 1.2rem;
    border: none;
    transition-duration: .5s;
    background-color: black;
    color: white;
   }
   #call-us:hover
   {
    padding: 20px 100px;
    font-size: 1.2rem;
   }

   

    
}