/*Animation */

/* Tada Animation */
/* Tada Animation */
@keyframes tada {
  0% { transform: scale(1); }
  10%, 20% { transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% { transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% { transform: scale(1.1) rotate(-3deg); }
  100% { transform: scale(1) rotate(0); }
}



/* Extra Small (phones) */
@media (max-width: 480px) {
    /* Styles for very small phones */
    #Notification 
    {
        height: 40vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification-container form .get-mail 
    {
        padding: 10px 25px;
        border: 1px solid rgb(0, 183, 255);
    }

    .notification-container form .Sumbit-mail
    {
        padding: 10px 20px;
        border: none;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
    }
}

/* Small (mobiles) */
@media (max-width: 576px) {
    /* Styles for standard phones */

    #Notification 
    {
        height: 40vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification-container form .get-mail 
    {
        padding: 10px 25px;
        border: none;
    }

    .notification-container form .Sumbit-mail
    {
        padding: 10px 20px;
        border: none;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
    }


 }


/* Medium (tablets) */
@media (max-width: 768px) {
    /* Styles for tablets */
    #Notification 
    {
        height: 40vh;
        background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .notification-container form .get-mail 
    {
        width: 80vh;
        height: 8vh;
        padding-left: 12px;
        border: none;
        border: none;
    }

    .notification-container form .Sumbit-mail
    {
        height: 8vh;
        width: 100px;
        border: none;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        color: white;
        font-weight: 600;
    }
}

/* Large (small laptops) */
@media (max-width: 992px) {
    /* Styles for small laptops */
     #Notification 
    {
        height: 40vh;
        background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .notification-container form .get-mail 
    {
        width: 80vh;
        height: 8vh;
        padding-left: 12px;
        border: 1px solid rgb(0, 183, 255);
    }

    .notification-container form .Sumbit-mail
    {
        height: 8vh;
        width: 100px;
        border: none;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
    }
}

/* Extra Large (desktops) */
@media (max-width: 1200px) {
    /* Styles for desktops */

     #Notification 
    {
        height: 40vh;
        background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .notification-container form .get-mail 
    {
        width: 80vh;
        height: 8vh;
        padding-left: 12px;
        border: 1px solid rgb(0, 183, 255);
        
    }

    .notification-container form .Sumbit-mail
    {
        height: 8vh;
        width: 100px;
        border: none;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
    }
}

/* Ultra Wide Screens */
@media (max-width: 1400px) {
    /* Styles for very large screens */

     #Notification 
    {
        height: 40vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        color: white;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        color: white;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .notification-container form .get-mail 
    {
        width: 100vh;
        height: 8vh;
        padding-left: 12px;
        border: 0px 0px 1px 0px;
        border-color:  rgb(0, 183, 255)  ;
        background-color: transparent;

    }
    .notification-container form .get-mail::placeholder 
    {
        color: white;
    }

    .notification-container form .Sumbit-mail
    {
        height: 8vh;
        width: 200px;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
        border: 1px solid rgb(0, 183, 255) ;
    }
}









/* Ultra Wide Screens */
@media (max-width: 2000px) {
    /* Styles for very large screens */

     #Notification 
    {
        height: 53vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }

    .notification-container
    {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 32px;
    }
    
    .notifi-content 
    {
        animation: tada 1s ease-in-out;
        width: 100%;

    }
    .notifi-content {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s ease;
    }

    .notifi-content.active {
    opacity: 1;
    animation: tada 1.5s ease-in-out;
    }
    .notifi-content h1 
    {
        text-align: center;
        padding: 4px;
        color: white;
        font-size: 40px;
        line-height: 1.3;
        
    }
    .notifi-content p 
    {
        text-align: center;
        padding: 4px;
        color: white;
        
    }

    /* start Working in Form  */

    .notification-container form 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-flow: column;
    }

    .error-message 
    {
        max-width: 60%;
        text-align: left;
    }

    
      .notification-container form .form-container 
      {
         width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


      }

    .notification-container form .get-mail 
    {
        width: 100vh;
        height: 8vh;
        padding-left: 12px;
        border: 0px 0px 1px 0px;
        border-color:  rgb(0, 183, 255)  ;
        background-color: transparent;
        color: white;

    }
    .notification-container form .get-mail::placeholder 
    {
        color: white;
    }

    .notification-container form .Sumbit-mail
    {
        height: 8vh;
        width: 200px;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
        color: white;
        font-weight: 600;
        border: 1px solid rgb(0, 183, 255) ;
    }

    

    .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    display: none; /* hidden by default */
}

.get-mail.error {
    border: 1px solid red;
}

}