#myfooter 
{
    width: 100%;
    margin: 0;
    background-color: black;
}

.copyright 
{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.copyright h1
{
    text-align: center;
    font-size: 15px;
    background-color: black;
    border-top: 1px solid skyblue;
    width: 50%;
    padding: 10px 0px;
    color: white;

    
}
.copyright h1 a 
{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    text-align: center;
    padding: 0px 10px;
    color: white;
    border-radius: 10px;

       

    
}

