/* Animations */

/* linked css code */

/* Mobile first */



.Services-headline 
{
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}
.Services-headline h1
{
    text-align: center;
    text-shadow: 0px 10px 10px white;
    color: white;
}





@media (max-width: 599px) {
  /* styles for small phones */

  #services 
{
    height: 170vh;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.services-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;


}
.services-container .s-container

{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;
    background-color: white;
    border-radius: 4px;

}

.services-container .s-container img 
{
    width: 100px;
}

.services-container .s-container .s-box-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    gap: 10px;
}

.services-container .s-container .s-box-content h1 
{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.services-container .s-container .s-box-content p 
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.services-container .s-container .services-cta 
{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.services-container .s-container .services-cta .booking-btn
{
    padding: 10px;
    font-size: 12px;
    background-color: black;
    color: white;
}



  
}


@media (min-width: 600px) and (max-width: 899px) {
  /* styles for tablets or large phones */

   #services 
{
    height: 120vh;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.services-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;


}
.services-container .s-container

{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;
    background-color: white;

}

.services-container .s-container img 
{
    width: 100px;
}

.services-container .s-container .s-box-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    gap: 10px;
}

.services-container .s-container .s-box-content h1 
{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.services-container .s-container .s-box-content p 
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.services-container .s-container .services-cta 
{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.services-container .s-container .services-cta .booking-btn
{
    padding: 10px;
    font-size: 12px;
    background-color: black;
    color: white;
}

  
}

/* Large devices (tablets & small laptops, 900–1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  /* styles for tablets/laptops */

   #services 
{
    height: 130vh;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.services-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    flex-flow: column wrap;
    gap: 10px;
    padding: 10px;


}
.services-container .s-container

{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px;
    background-color: white;
    border-radius: 4px;

}

.services-container .s-container img 
{
    width: 100px;
}

.services-container .s-container .s-box-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    gap: 10px;
}

.services-container .s-container .s-box-content h1 
{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.services-container .s-container .s-box-content p 
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.services-container .s-container .services-cta 
{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.services-container .s-container .services-cta .booking-btn
{
    padding: 10px;
    font-size: 12px;
    background-color: black;
    color: white;
}
}

@media (min-width: 1200px) {
  /* styles for large screens/desktops */

    #services 
{
    height: 130vh;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.Services-headline 
{
     display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}
.Services-headline h1 
   {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 5px 10px 15px white;
    color: aliceblue;

   }
.services-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    flex-flow: column wrap;
    gap: 10px;
    padding: 50px;


}
.services-container .s-container

{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 20px;
    background-color: white;
    border-radius: 4px;

}

.services-container .s-container img 
{
    width: 100px;
}

.services-container .s-container .s-box-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    gap: 10px;
}

.services-container .s-container .s-box-content h1 
{
    font-weight: bold;
    text-align: center;
}
.services-container .s-container .s-box-content p 
{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.services-container .s-container .services-cta 
{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.services-container .s-container .services-cta .booking-btn
{
    padding: 10px 30px;
    font-size: 15px;
   background-color: rgb(0, 0, 0);
    color: rgba(0, 229, 255, 0.826) ;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    transition-duration: 0.3s;

}
.services-container .s-container .services-cta .booking-btn:hover 
{
    background-color: rgb(0, 183, 228);
    color: rgba(0, 0, 0, 0.826) ;
    border: none;

}
}













